<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url('https://blog.kakaocdn.net/dn/cmseu8/btq6Z9KJYXo/aDlzENDratLaBwK2MYrPF1/img.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Dongle', sans-serif;
            font-size: xx-large;
        }

        .mypage {
            width: 1000px;
            height: 500px;
            text-align: center;
            color: rgb(255, 255, 255);
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            background-color: burlywood;
            border-radius: 30px;
        }
        .home {
            position: absolute;
            top: 10px;
            left: 20px;
        }
        .ll {
            display: flex;
            justify-content: center;
            color:white
        }
        button:hover {
            background-color: tomato;
        }
        button {
            width: 130px;
            height: 50px;
            border-radius: 20px;
            background-color: white;
            color: black;
            font-family: Dongle;
            font-size: xx-large;
        }
    </style>
    <title>mypage</title>
</head>
<body>
    <header>
        <div class="home">
            <a href="/"><img src="/home-btn.png" style="width: 50px; height: 50px;"></a>
        </div>
        <div class="ll">
            <h1>마이페이지</h1>
        </div>
    </header>
    <main>
        <div class="mypage">
            <h1>username : <%= user.name %></h1>
            <h1>email : <%= user.email %></h1>
            <h1>password : <%= user.password %></h1>
            <a href="/mypage/edit"><button>회원정보 수정</button></a>
            <a href="/mypage/delete"><button>회원탈퇴</button></a>
        </div>
    </main>
</body>
</html>